body {
    font-family: Arial, sans-serif;
}

.container1 {
    width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(50,50,50);
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.default-background {
    background-color: #d2d2d2;
    padding: 1% 4%;
    border-radius: 0px 0px 10px 10px;
}

.header-project {
    display: flex;
    align-items: center;
    padding: auto;
}

.header-project h1{
    color: white;
}

.logo {
    width: 100px;
    margin-right: 10px;
    padding-left: 2%;
}

h1 {
    margin-left: 10px;
    color: white; /* Change header color to white for visibility */
}

.intro-text {
    color: white; /* Change text color for better visibility */
    margin-bottom: 20px; /* Space below the intro text */
    padding-left: 2%;
}

h2 {
    margin-top: 3%;
    color: black; /* Change color for section headers */
}

p {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 20px;
}

label {
    display: block; /* Each label in a new line */
    margin-top: 2%; /* Space above each label */
}

input[type='text'],
input[type='number'],
textarea,
select {
    width: calc(60% - 20px); /* Full width minus padding */
    padding: 10px;
    margin-top: 5px;
}

input[type='file'] {
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border-radius: 5px;
    border: none;
}

.add-teammate-button {
    margin-top: 10px; /* Space above the button */
    display: block; /* Make it a block element */
    width: fit-content; /* Adjust width to fit content */
}

.submit-button {
    margin-top: 20px; /* Space above the submit button */
    display: block; /* Make it a block element */
    width: fit-content; /* Adjust width to fit content */
    margin-left: auto; /* Center align */
    margin-right: auto; /* Center align */
}

.required {
    color: red; /* Color for required asterisk */
}
